{% extends "master.html" %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block app_content %}
	<h1>Hello, {{ current_user.username }}!</h1>

	{% if form %}
		<div class="row">
			<div class="col-md-4">
				{{ wtf.quick_form(form) }}
			</div>
		</div>
	{% endif %}

	{% include 'posts.html' %}

{% endblock %}