<!-- extend master layout -->
{% extends "master.html"%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Sign In</h1>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>  <br> 
        <div>New User? <a href="{{ url_for('register') }}">Click to register!</a></div> <br>
        <div>
            Forgot Your Password?
            <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a> <br>
        </div>
{% endblock %}