{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}
      {{ title }} - microblog
  {% else %}
      Welcome to microblog
  {% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ url_for('index') }}" class="navbar-brand">Microblog</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('explore') }}">Explore</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
              <li><a href="{{ url_for('user_profile', username=current_user.username) }}">Profile</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    
    {# application content needs to be provided in the app_content block#}
    {% block app_content %}{% endblock %}
  
 
  <div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
{% endblock %}
