<table class="table table-hover">
{% for post in posts %}
    <tr>
        <td width="70px">
            <a href="{{ url_for('user_profile', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" alt="">
            </a>
        </td>
        <td>
            <a href="{{ url_for('user_profile', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            said {{ moment(post.timestamp).fromNow() }}: 
            <br>
            {{ post.body }}
        </td>
    </tr>
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled {% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled {% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
</table>