{% extends "master.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}" alt=""></td>
            <td>
                <h1>{{ user.username }}</h1>
    
                {% if user.about_me %} 
                    <p>{{ user.about_me }}</p>
                {% endif %}
                
                {% if user.last_seen %} 
                    <p>Last seen on: {{ moment(user.last_seen).format('LLLL') }}</p>
                {% endif %}
        
                <p> {{ user.followers.count() }} followers, 
                    {{ user.followed.count() }} following.</p>
        
                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">
                        Edit your profile</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow', username=user.username) }}">
                        Follow
                    </a></p>
                {% else %}
                    <p><a href="{{ url_for('unfollow', username=user.username) }}">
                        Unfollow
                    </a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    
   {% include 'posts.html' %}
   
{% endblock %}